.create__tabs {
  .nav-tabs {
    .nav-link {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      border-radius: 50%;
      background: transparent;
      border: 2px dashed #140ddc;
      padding: 15px;
      width: 80px;
      height: 80px;
      justify-content: center;
      margin: 0 10px;
      @include boldfont;

      &.active {
        background: #140ddc;
        border: 2px solid #140ddc;

        img {
          filter: brightness(0) invert(1);
        }
      }

      &.disabled {
        border: 2px dashed #c8c6ff;
        cursor: not-allowed;
      }
    }
  }
}
