.caseTimeDate {
  .content {
    font-size: 12px !important;

    .moi-btn--secondary {
      background: #636f91;
    }
  }
}

.caseRegistrationWay {
  .moi-btn--secondary {
    background: #636f91;
  }
}

.generalCasesStyle {
  margin: 15px;

  .CloseGeneralCases {
    cursor: pointer;
    padding: 10px;
    width: 260px;
    display: block;

    img {
      transform: rotate(0deg);
    }

    .rotetarrow {
      transform: rotate(180deg);
    }
  }

  &__cases__right {
    box-shadow: 0px 8px 30px rgba(181, 181, 181, 0.08);
    border-radius: 8px;
    gap: 10px;
    display: flex;
    flex-direction: column;

    .hightPriorty {
      background: #c31833;
      color: #fff;
    }

    &--priority {
      background: #f1f5fe;
      padding: 10px;
      font-weight: 600;
      border-radius: 5px;
      color: $darkBlue;

      .bolck {
        gap: 5px;
        display: flex;
        flex-direction: column;

        .content {
          font-weight: 500;
        }
      }
    }

    &--category {
      gap: 5px;
      display: flex;
      flex-direction: column;

      .bolck {
        padding: 10px;
        background: #ffffff;
        font-weight: 600;
        border-radius: 5px;
        border: 1px solid #e2e8f0;
        color: #445464;
        gap: 5px;
        display: flex;
        flex-direction: column;

        .content {
          font-weight: 500;
          text-wrap: pretty;
          text-align: justify;
          line-height: 2;
        }
      }
    }

    &--updates {
      background: #ecf2ff;
      padding: 15px;
      border-radius: 8px;
      gap: 5px;
      display: flex;
      flex-direction: column;

      .title {
        display: flex;
        align-items: center;
        gap: 5px;
        @include boldfont;
        color: $darkBlue;
      }

      p {
        line-height: 1.9;
      }

      .action {
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 10px;

        .btn {
          width: 100%;
        }
      }
    }

    &--incedentDetails {
      background: #fff;
      font-weight: 600;
      border-radius: 5px;
      border: 1px solid #e2e8f0;
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .title {
        background: #a38664;
        padding: 10px;
        color: #fff;
      }

      .incTime {
        gap: 10px;
      }

      .bolck {
        padding: 10px;
        background: rgb(248 250 255 / 54%);
        font-weight: 600;
        border-radius: 5px;
        color: #445464;
        gap: 5px;
        display: flex;
        flex-direction: column;

        .content {
          font-weight: 500;
          line-height: 1.9;
        }
      }

      .map {
        border-radius: 10px;
        height: 150px;
        overflow: hidden;
        padding: 0;
        position: relative;

        img {
          object-fit: cover;
        }

        .mapmarker {
          position: absolute;
          right: 50%;
          top: 20%;

          img {
            width: 50px;
          }
        }
      }
    }

    &--officer {
      background: #fff;
      font-weight: 600;
      border-radius: 5px;
      border: 1px solid #e2e8f0;
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      border-radius: 6px;
      .title {
        background: #f8f6f2;
        padding: 10px;
        border-radius: 6px;
      }

      .bolck {
        padding: 10px;
        background: rgb(248 250 255 / 54%);
        font-weight: 600;
        border-radius: 5px;
        color: #445464;
        gap: 0;
        display: flex;
        flex-direction: column;

        .content {
          font-weight: 500;
          line-height: 1.9;
        }

        .officerRole {
          color: #acacac;
        }
      }
    }
  }

  &__cases__left {
    padding: 0;
    background: transparent;
    box-shadow: none;

    &--mainTabs {
      .nav-item {
        margin: 0 8px;

        .nav-link {
          border-radius: 8px;
          border: none;
          color: #445464;
          font-weight: 600;
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;

          img {
            height: 20px;
            margin-bottom: 2px;
          }

          &.active {
            background: $green-100;
            border: 1px solid $green-100;
            color: #fff;

            img {
              filter: brightness(0) invert(1);
            }

            .totlal {
              background: #fff;
              color: var(--color_change);
            }
          }
        }

        .addmore {
          border: 1px dashed $green-100;
          color: $green-100;
          background: #fff;

          &.active {
            background: $green-100;
            color: #fff;

            img {
              filter: brightness(0) invert(1);
            }
          }
        }
      }
    }

    &--tab-content {
      background: white;
      padding: 15px;
      box-shadow: 0 0 68px 0 rgba(174, 175, 175, 0.17);
      border-radius: 8px;
      margin-top: 10px;

      .personsTab {
        background: $baige;
        padding: 15px;

        .nav-item {
          margin: 0 5px;

          .nav-link {
            border: none;
            color: #445464;
            background: white;
            position: relative;
            font-weight: 600;
            width: auto;
            height: auto;

            &.active {
              background: #a38766;
              color: #fff;
              border: none;
            }
          }
        }
      }

      .personscontent {
        .persondetailsTab {
          margin-bottom: 25px;

          .nav-item {
            margin: 0 5px;

            .nav-link {
              border-radius: 10px 10px 0 0;
              border: 1px dashed #445464;
              color: #445464;
              font-weight: 600;
              display: flex;
              flex-direction: column;
              align-items: center;
              position: relative;
              border-bottom: none;

              &.active {
                background-color: $baige;
                color: #9f8544;
                border: 1px solid $baige;
              }
            }
          }

          .tab-content {
            background: white;
            border: 1px solid #d7d7d7;
            border-radius: 6px;
            padding: 5px;
            .createViolitionContainer--creatviolition--person {
              box-shadow: none;
              background: transparent;

              .block .user__image img {
                border-radius: 10px;
                box-shadow: none;
              }
            }
          }
        }
      }

      .pills-coreactions-tab {
        ul {
          background: $baige;
          padding: 15px;
        }

        .nav-item {
          margin: 0 5px;

          .nav-link {
            background: #ffffff;
            color: #445464;
            position: relative;
            font-weight: 600;
            min-width: 120px;
            border-radius: 5px;
            border: none;
            width: auto;
            height: auto;

            &.active {
              background: #a38664;
              color: #fff;
              border: none;
            }
          }
        }

        .tab-pane {
          h5 {
            font-weight: 600;
            font-size: 12px;
            margin-top: 30px;
            border-bottom: none;
            padding: 16px;
            background-color: #f1f7ff;
            color: #084298;
            border-radius: 0.375rem;

            span {
              color: $darkBlue;
              background: #ffffff;
              padding: 2px 12px;
              border-radius: 4px;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}

#addmoreActionsModal {
  .actions {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    flex-direction: row;

    .action {
      border-radius: 10px;
      color: #85683b;
      font-weight: 600;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      padding: 8px;
      height: auto;
      width: 19.2%;
      background: #f8f7f4;

      img {
        height: 40px;
        margin-bottom: 10px;
        border-radius: 50%;
        padding: 5px;
        background: rgb(239 239 237);
      }
    }

    .selectedAction {
      background-color: #f9fffe;
      border: 1px solid #eaf4f2;
      color: #040404;

      img {
        background: rgb(224 243 239);
      }
    }
  }
}

.secondary-cat {
  .secocontainer {
    gap: 5px;
    justify-content: space-between;
    flex-wrap: wrap;

    .content {
      width: auto;
      background: rgb(247 249 255);
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #e3e8f6;
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 5px;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        padding: 10px;
        background: #fff;
        border: none;
        color: #445464;
        text-align: center;
        font: 17px Arial, sans-serif;
      }
    }
  }
}

.advancedfeatures {
  position: fixed;
  z-index: 10000000000000000;
  left: 0;
  top: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .print {
    background: #fff;
    padding: 15px;
    border-radius: 0 10px 10px 0;
    box-shadow: 0px 8px 30px rgba(181, 181, 181, 0.08);
    border: none;
  }
}

.createViolitionContainer--creatviolition--person .block {
  padding: 15px;
  position: relative;
}

.block i {
  position: absolute;
  left: 10px;
  font-size: 20px;
  top: 10px;
  color: var(--color_change);
}

.caseRequestDetails {
  .main-person-details {
    flex-wrap: wrap;
  }

  .details {
    box-shadow: none;
    border: none;
    border-radius: 0;
    padding: 0;
    margin-bottom: 0;
  }

  .createViolitionContainer--creatviolition--person .block {
    flex: none;
    flex-direction: column;
    justify-content: right;
    align-items: start;
    width: 33%;
    margin: 1px;
    border-right: 5px solid #dedede;
  }

  .custom-alert-primary {
    border-right: none !important;
    margin-top: 10px !important;

    span {
      color: #0d60da !important;
    }
  }
}

.weaponSection {
  .Weapon {
    background: #f8faff;
    padding: 15px;
    font-size: 14px;
    font-weight: 600;
  }

  h6 {
    background: #dae3f8;
    padding: 15px;
    font-size: 12px;
    font-weight: 600;
  }

  .block {
    padding: 10px;
    background: #ffffff;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid #e2e8f0;
    color: #445464;
    gap: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;

    span {
      font-weight: 500;
    }
  }

  .weaponsec {
    padding: 10px;
    background: #f8faff;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid #e2e8f0;
    color: #445464;
    gap: 5px;
    display: flex;
    flex-direction: column;
  }
}

.actionform-container {
  width: 100%;
  background: rgb(255 255 255);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #e3e8f6;
  box-shadow: 0px 5px 35px 0px rgba(0, 27, 175, 0.05);
}


.securityLevel {
  margin: 0 auto;
  font-size: 10px;
}

.contentImage {
  width: 24px;
  height: 24px;
}

.totlal {
  position: absolute;
  border-radius: 50%;
  padding: 3px 4px;
  width: 20px;
  height: 20px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 2px rgb(132 132 132);
  background: var(--color_change) !important;
  color: #fff !important;
  left: -5px !important;
  top: -10px !important;
}

.useralreadyActions {
  .tablecontainer {
    padding: 0;

    .tableSeetings {
      padding: 0;
      margin-bottom: 10px;
    }
  }
}

.case__notecomplated--alert {
  position: fixed;
  z-index: 10002;
  background: #fffbfb;
  color: #fd5656;
  right: 38%;
  bottom: 10px;
  box-shadow: 0px 8px 20px 0px #e2e8f0;

  ul {
    li {
      color: #445464;
    }
  }

  .alertClose {
    position: absolute;
    left: 2px;
    top: 2px;
  }
}

.custom-tooltip {
  .userimage {
    img {
      width: 60px;
      height: 60px;
      -o-object-fit: cover;
      object-fit: cover;
      border-radius: 50%;
      border: 3px solid white;
      box-shadow: 0px 2px 4px rgba(220, 220, 220, 0.47);
      margin-left: -10px;
    }
  }

  [data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
    font-size: 22px;
  }

  [data-tooltip]:before,
  [data-tooltip]:after {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

  [data-tooltip]:before {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 270px;
    border-radius: 5px;
    background-color: #000000;
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 10px;
    line-height: 1.9;
    font-weight: 600;
  }

  [data-tooltip]:after {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000000;
    border-top: 5px solid #000000;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
  }

  [data-tooltip]:hover:before,
  [data-tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
  }
}

.generalActionStyle {
  .nav-item {
    margin: 0;

    .nav-link {
      text-align: right;
      display: flex;
      align-items: center;
      gap: 10px;
      box-shadow: 0px 4px 10px 0px rgba(9, 30, 66, 0.06);
      justify-content: space-between;
      .Agancyimg {
        border-radius: 8px;
        padding: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f8f6f2;

        img {
          height: 35px;
          width: 35px;
          filter: brightness(0) invert(0);
        }
      }
      .totlaActions{
        background: #efefef;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        color: #000;
        font-size: 14px;
        padding: 5px;
      }
    }
  }

  .nav-link.active {
    box-shadow: 0px 4px 4px 0px rgb(146 86 26 / 30%);

    .Agancyimg {
      background: #81684b;

      img {
        filter: brightness(0) invert(1);
      }
    }

    .totlaActions{
      background: white;
      color: #835b2d;
    }
  }
}

.caseTimeline {
  display: flex;
  position: fixed;
  z-index: 999;
  left: 0;
  height: 100%;
  background: #ffff;
  padding: 15px;
  box-shadow: rgb(92 92 92) 7px 24px 51px -44px;
  border-radius: 0 20px 20px 0;
  top: 25%;
  .timeline-page {
    height: 700px;
    overflow: scroll;
    padding: 0;
    margin: 0;
  }
}

.iq-timeline2 {
  padding: 20px;
}

.caseTimeline .sectiontitle {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 40px;
  border-bottom: 1px solid #f8f6f2;
  padding: 18px;
  background: #f8f6f2;
  position: sticky;
  top: -15px;
  z-index: 99999;
}

.generalCasesStyle__cases__left--mainTabs .nav-item .nav-link {
  width: 100%;
  border: none;
  border: none !important;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #000000;
  // font-size: 12px;
  padding: 10px;
  box-shadow: rgb(178 174 174) 0px 0px 5px 0px;
  margin-bottom: 13px;
  box-shadow: 0px 4px 10px 0px rgba(9, 30, 66, 0.06);
}

.generalCasesStyle__cases__left--mainTabs .nav-item .nav-link img {
  margin-left: 10px;
  height: 24px;
}

.generalCasesStyle__cases__left--mainTabs .nav-item {
  margin: 0;
}

.generalCasesStyle__cases__left--mainTabs .nav-item .addmore {
  border-left: 0;
}

.generalCasesStyle__cases__left--mainTabs .nav-item .nav-link.active {
  background: #0d8f75;
  border: 1px solid #ffffff;
  color: #ffffff;
  // box-shadow: 0px 4px 4px 0px rgba(13, 143, 117, 0.19);
}



.CloseGeneralCases {
  width: 100% !important;
  display: flex !important;
  justify-content: flex-end !important;
}

.rightForToggle {
  background: #f8f9ff;
  padding: 15px;
  right: 0;
  top: 250px;
  box-shadow: rgb(105 105 105 / 17%) 0px 8px 30px;
  position: absolute;
  z-index: 99999;
  border-radius: 20px;
}

.new-total {
  background: #efefef;
  padding: 2px 8px;
  border-radius: 5px;
  margin-right: 5px;
}

.generalCasesStyle__cases__left--mainTabs
  .nav-item
  .nav-link.active
  .new-total {
  background: #fff;
  color: #0d8f75;
}

.tab-content {
  width: 100% !important;
}

.tab-content > .active {
  width: 100%;
}

.generalCasesStyle__cases__left--tab-content
  .pills-profile-tab
  .nav-item
  .nav-link {
  width: 100%;
  background: #ffffff;
  color: #445464;
  font-weight: 600;
  border: none;
  padding: 15px;
  white-space: nowrap !important;
}

.generalCasesStyle__cases__left--tab-content
  .pills-coreactions-tab
  .nav-item
  .nav-link {
  width: 100%;
  white-space: nowrap !important;
}

.custommaintabs {
  background: #f0f3fa;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.generalCasesStyle__cases__left--mainTabs .nav-item .nav-link {
  margin-bottom: 0 !important;
}

.addmorecustome {
  background-color: var(--color_change) !important;
  color: #fff !important;
}

.addmorecustome img {
  filter: brightness(0) invert(1);
  margin: 0 !important;
}

.actionform-container {
  .page__title {
    margin: 0 !important;
    margin-bottom: 15px !important;
  }
}

.tab-content {
  .page__title {
    margin: 0 !important;
    margin-bottom: 15px !important;

    h3 {
      img {
        filter: brightness(0) invert(0);
      }
    }
  }
}
