.dashboardMainContent {
  &--newSecurityCases {

    &--top {
      &--name {
        @include boldfont;
        color: $green-100;
        background: #e3f9f4;
        gap: 5px;
        padding: 5px 10px;
        border-radius: 6px 6px 0 0;
        height: 45px;
        margin-right: 15px;

        &__total {
          background: #fff;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    &--body {
      .tablecontainer {
        height: 380px;
        max-height: 380px;
        overflow-x: scroll;
        display: inherit;
        th {
          position: sticky;
          top: 0;
        }

        td {
          .btn {
            margin: 0 auto;
            display: block;
          }
        }
      }

      &--activeIncedent {
        height: 380px;
        max-height: 380px;
        overflow: scroll;
        display: flex;
        // align-items: center;
        flex-wrap: wrap;
        gap: 15px;
        padding-top: 20px;
        width: 100%;

        .cardContainer {
          align-content: flex-start;
        }

        &--card {
          width: 49%;
          border-radius: 8px;
          padding: 7px;
          margin-bottom: 25px;
          border: 1px solid #b4e7dd;
          background: #fff;
          box-shadow: 0px 4px 10px 0px rgba(0, 27, 175, 0.05);
          display: flex;
          align-items: center;
          // gap: 5px;
          position: relative;

          .incTime {
            position: absolute;
            top: -18px;
            z-index: 10;
            border-radius: 5px;
            padding: 3px 3px;
            font-weight: 600;
            right: 14px;
            background: #f7fffd;
            color: #00b792;
            border: 1px solid #00b792;
            font-size: 10px;

            svg {
              stroke: #00b792;

              path {
                stroke: #00b792;
              }
            }
          }

          .inclogo {
            width: 40px;
            height: 40px;

            img {
              height: 100%;
            }
          }

          .block {
            font-weight: 600;
            background: #fafbff;
            padding: 5px;
            border-radius: 6px;
            border: none;
            white-space: nowrap;
            width: 100%;
          }
        }
      }

      &--map {
        background: gray;
        width: 100%;
        position: relative;

        @keyframes fadeinout {
          0% {
            opacity: 0;
          }

          50% {
            opacity: 1;
          }

          100% {
            opacity: 0;
          }
        }

        .mapPoint {
          position: absolute;
          right: 50%;
          padding: 10px;

          .fadediv {
            background: #ce224c;
            border-radius: 50%;
            border: 5px solid rgba(241, 65, 108, 0.5);
            animation: fadeinout 4s infinite;
            height: 80px;
            width: 80px;
            top: -10px;
            right: 1px;
            position: absolute;
          }

          img {
            border-radius: 50%;
            height: 60px;
            position: absolute;
            top: 0;
          }
        }
      }
    }
  }

  .Resecurity {
    background: #f9efd7;
    color: #e78b2f;
  }

  .notreceived {
    border: 1px solid #ffdede;

    .incTime {
      background: #ffffff;
      color: #ea6b8a;
      border: 1px solid #ffdede;

      svg {
        stroke: #e86e8c;

        path {
          stroke: #e86e8c;
        }
      }
    }
  }

  @media only screen and (max-width: 1550px) {
    .cardContainer {
      flex-direction: column;

      .dashboardMainContent--newSecurityCases--body--activeIncedent--card {
        width: 100%;
      }
    }
  }
}

#dashboard {
  .searchfields {
    .w-25 {
      width: 50% !important;
    }
  }
}

@media only screen and (max-width: 1550px) {
  #dashboard {
    .cardContainer {
      flex-direction: column;

      .dashboardMainContent--newSecurityCases--body--activeIncedent--card {
        width: 100%;
      }
    }

    .searchfields {
      .w-25 {
        width: 100% !important;
      }
    }
  }
}
