
body{
    padding-top:0 ;
    padding-bottom: 0;
}
.index{
    justify-content: space-between;

}
.topnav{
    background: #F8F4F1;
    box-shadow: 10px 5px 29px rgba(163, 134, 100, 0.16);
    padding: 25px;
    border-radius: 0 0 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .userimage{
        img{
            height: 40px;
        }
        
    }
    .notification{
        img{
            height: 24px;
        }
    }
    

}

.BottomNavigationBar{

padding: 14px 16px;
gap: 35px;



background: #F8F4F1;
box-shadow: 10px 5px 29px rgba(163, 134, 100, 0.16);
padding: 25px;
border-radius: 0 0 10px 40px;

align-items: center;
justify-content: space-between;
box-shadow: 0px 8px 30px #DEDBD5;
border-radius: 16px 16px 0px 0px;


}


.homenav{
.nav{

flex-wrap: nowrap;
padding-bottom:15px ;
    .nav-link{

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 16px;
        gap: 5px;
        
        height: 44px;
        
        background: #FFFFFF;
        
        box-shadow: 0px 8px 30px rgba(181, 181, 181, 0.08);
        border-radius: 8px;
        color:#000;
        font-weight: 600;
        font-size: 14px;
        min-width: 180px;
        svg{
            fill:#000;
            width: 24px;
            height: 24px;
        }
        
            }
                
            .nav-link.active{
                background: $green-100;
                color: #fff;
                svg{
                    fill:#fff;
                }
            }
       

}

::-webkit-scrollbar-thumb{
    background: #8f9b98;
}
 
}



