.lastPage {
  opacity: 0.5;
  cursor: disabled !important;
}
.selected {
  background-color: var(--color_change) !important;
  color: #ffffff !important;
}
.wizerdImage {
  background: #fff;
  padding: 0px;
  border-radius: 50%;
  border: 1px dashed #08c28d;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  box-shadow: rgb(239, 241, 249) 0px 3px 8px 4px;
  transition: transition-duration, 0.8s ease !important;
}

.SecurityCaseTap.Selected {
  background: var(--color_change);
  color: #ffffff !important;
  cursor: default;
}
.selectedWizerdImage {
  background: #fff;
  padding: 0px;
  border-radius: 50%;
  border: 1px dashed #08c28d;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  box-shadow: none;
  transition: transition-duration, 0.8s ease !important;
}

.TouchedWizerdImageDiv {
  background: #08c28d;
}
.TouchedWizerdImage {
  filter: brightness(0) invert(1);
}

.SecurityCase .wizard ul,
.SecurityCase .tabcontrol ul {
  list-style: none !important;
  padding: 0;
  margin: 0;
}
/*.nextBtn {
    padding: 10px 15px;
    font-size: 10px;
    font-weight: bold;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    color: #fff;

    background: var(--color_change) ;
    border: 1px solid var(--color_change);
    box-shadow: 0px 8px 30px rgba(181, 181, 181, 0.08);
    text-decoration: none !important;
    cursor:pointer;
}*/
.custom-swal-container {
  z-index: 100000000000000000000000000000000000;
}

.saveCompleateLater div {
  padding: 10px 15px;
  font-size: 10px;
  font-weight: bold;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  color: #fff;
  background: var(--color_change);
  border: 1px solid var(--color_change);
  box-shadow: 0px 8px 30px rgba(181, 181, 181, 0.08);
  text-decoration: none !important;
  transition: transition-duration, 0.8s ease !important;
}

/*

.previos-button {
    padding: 15px;
    border: 1px solid var(--color_change);
    box-shadow: 0px 8px 30px rgba(181, 181, 181, 0.08);
    background: transparent;
    color: var(--color_change);
    font-size: 10px;
    font-weight: bold;
    -webkit-border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    text-decoration: none !important;
    transition: transition-duration, 0.8s ease !important;
    cursor: pointer;
}*/
.slide-enter-active,
.slide-leave-active {
  transition: transform 0.5s ease-out;
}

.slide-enter {
  transform: translateX(-100%);
  opacity: 0;
}

.slide-enter-to {
  transform: translateX(0);
  opacity: 1;
}

.slide-leave {
  transform: translateX(0);
  opacity: 1;
}

.slide-leave-to {
  transform: translateY(100%);
  opacity: 0;
}

/*
    .previos-button::before {
        content: url(./../images/icon-arrow-left-circle.svg);
        margin-left: 10px;
    }
.SecurityCase a[href="#next"]::after {
    content: url(./../images/icon-arrow-right-circle-next.svg);
    transform: rotate(180deg);
    margin-right: 10px;
}
.actions .nextBtn::after {
    content: url(./../images/icon-arrow-right-circle-next.svg);
    transform: rotate(180deg);
    margin-right: 10px;
    height: 24px;
    filter: brightness(0) invert(1);
}*/
.actions .nextBtn.moreSteps {
  cursor: pointer;
}
.actions .nextBtn.NoMoreSteps {
  opacity: 0.5;
  cursor: not-allowed;
}
.pointer {
  cursor: pointer !important;
}

.listItem div {
  border: 1px solid var(--color_change);
  box-shadow: 0px 8px 30px rgba(181, 181, 181, 0.08);
  background: transparent;
  color: var(--color_change);
}
.actions > ul > li {
  margin: 0 0.5em;
}
.diabledAnchor {
  border: 1px solid var(--color_change);
  box-shadow: 0px 8px 30px rgba(181, 181, 181, 0.08);
  background: transparent;
  color: var(--color_change);
}

.actions.clearfix.row ul li {
  float: right;
  margin: 0 0.5em;
}

.SecurityCase .wizard > .actions div {
  padding: 10px 15px;
  font-size: 10px;
  font-weight: bold;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  color: #fff;
  background: var(--color_change);
  border: 1px solid var(--color_change);
  box-shadow: 0px 8px 30px rgba(181, 181, 181, 0.08);
  text-decoration: none !important;
}
.SecurityCase .wizerdImage img {
  height: 18px;
}

.SecurityCase .wizard > .actions {
  position: relative;
  display: block;
  text-align: right;
  width: 100%;
  margin-top: 20px;
}

.actions.clearfix {
  position: relative;
  display: block;
  text-align: right;
  width: 100%;
  margin-top: 20px;
}
