// for Print

// @mixin maiShadow {
//     background:#f3f6f9 ;
//     box-shadow: 13px 13px 20px #d2dae6, -13px -13px 20px #fdfdfd;

//  }

//  @mixin shadow-soft{
//     background: #ecf0f3;
//     box-shadow: 10px 10px 20px 0 #d1d9e6,-10px -10px 20px 0 #fff;
//  }

//  @mixin titleShadow{
//     box-shadow: inset 8px 8px 8px #e6e9ef, inset -8px -8px 8px #ecf0f3;

//  }

//  @mixin bottomshadow{
//     box-shadow: 13px 13px 20px #d2dae6, -13px -13px 20px #fdfdfd;
//  }

//  @mixin pagetitle {
//     font-size: 20px;
//     font-weight: bold;
//  }

//  @mixin titles {
//     font-size: 24px;
//     font-weight: bold;
//  }

//  @mixin boldfont-18 {
//     font-size: 18px;
//     font-weight: bold;
//  }

//  @mixin boldfont-16 {
//      font-size: 16px;
//      font-weight: bold;
//  }

//  @mixin boldfont {
//     font-size: 14px;
//     font-weight: bold;
//  }

//  @mixin meduimfont {
//     font-size: 12px;
//     font-weight: bold;
//  }

//  @mixin smallfont {
//     font-size: 10px;
//     font-weight: bold;
//  }

//  @mixin x-smallfont {
//      font-size: 8px;
//      font-weight: bold;
//  }
//  @mixin meduimfont-reg-18 {
//     font-size: 18px;
//     font-weight: 500;
//  }

//  @mixin meduimfont-reg-14 {
//     font-size: 14px;
//     font-weight: 500;
//  }

//  @mixin meduimfont-reg-12 {
//     font-size: 12px;
//     font-weight: 500;
//  }

//  @mixin smallfont-reg-10 {
//     font-size: 10px;
//     font-weight: 500;
//  }

//  @mixin x-smallfont-reg-8 {
//      font-size: 8px;
//      font-weight: 500;
//  }

//  @mixin mainbtn{

//     color:#fff;
//     font-weight: 600;

//     &:hover{
//        background: red;
//        color:#fff;
//     }
//  }

//  @mixin secondbtn{

//     color:#fff;
//     font-weight: 600;

//     &:hover{
//        background: red;
//        color:#fff;
//     }
//  }

// $blueGrediant: linear-gradient(180deg, #002D73 0%, #003CA6 100%);
// $bodyBg: #F5F5F5;
// $green-100: #366EDD;
// $blue-20: #F8FAFF;
// $green-100: #08C28D;
// $green-50: #03cc7c;
// $green-100: #03cc7c;
// $darkBlue: #0700C4;
// $darkBlue: #13005A;
// $Brown:#B99855;
// // shadows
// $shadow-100: 0px 8px 30px rgba(181, 181, 181, 0.08);

// :root {
//     --color_change: #366EDD;
// }

.summaryTitle {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.page__summary--title {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 15px 0;
  background: #fff;
  padding: 15px;

  h3 {
    @include boldfont-16;
    margin: 0;
  }
}

.summary__body {
  background: #fafbff;
  padding: 15px;
  box-shadow: rgb(239, 241, 249) 0px 2px 4px 0px;
  margin: 15px;
  padding-top: 0;

  .content {
    background: #fff;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;

    .block-content {
      flex: 0 0 auto;
      width: 23.8%;
      margin: 0.5%;

      .block {
        background: #fafbff;
        padding: 10px;
        border: 1px solid #efefef;
        border-radius: 5px;

        img {
          height: 90px;
          width: 90px;
          object-fit: cover;
        }

        .val {
          @include meduimfont;
          display: flex;
          gap: 5px;
          margin-top: 5px;

          .bg-primary {
            color: rgb(31, 31, 31);
            border-radius: 4px;
            background: rgb(255 255 255) !important;
            padding: 5px 10px !important;
            border: 1px solid #e0e0e0;
          }
        }
      }
    }

    .full-width {
      width: 98%;

      p {
        line-height: 1.9;
        text-align: justify;
      }
    }
  }
}

.personName {
  width: 100%;
  display: flex;
  padding: 15px;
  @include boldfont;

  .number {
    background: $Brown;
    padding: 5px;
    margin-left: 5px;
    border-radius: 50%;
    display: flex;
    height: 20px;
    width: 20px;
    justify-content: center;
    align-items: center;
    line-height: 1;
    color: #fff;
  }
}

.secondSection {
  background: #f8f8f8;
  border: 1px solid #ecedef;
}

.user-container {
  display: flex;

  .block-content {
    width: 34% !important;

    .block {
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.seizures {
  @extend .personName;
  background: #f8faff;
  width: 22%;
  border: 1px dashed #bbc7dc;
  border-radius: 10px 10px 0 0;
  border-bottom: none;
  justify-content: space-around;
  @include boldfont;
  color: $darkBlue;
  align-items: center;
  background: #d5dae5;
  padding: 5px 0;

  span {
    background: #ffffff;
    border-radius: 4px;
    padding: 5px;
    color: #494949;
  }
}

.total {
  background: $darkBlue;
  padding: 5px;
  margin-right: 5px;
  border-radius: 50%;
  display: flex;
  height: 20px;
  width: 20px;
  justify-content: center;
  align-items: center;
  line-height: 1;
  color: #fff;
}

.summaryPage {
  .content {
    min-height: auto;

    .user-container {
      display: flex;
      width: 100%;
      justify-content: space-around;

      .block-content {
        flex: auto;
        width: 23.8% !important;
        margin: 0.5%;
      }
    }
  }
}
