.violitionDetails {
  margin-bottom: 50px;

  &--right {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 5px 35px 0px rgba(0, 27, 175, 0.05);
    display: flex;
    flex-direction: column;

    h3 {
      @include boldfont-16;
      margin: 0 0 15px 0;
      border-bottom: 1px solid #ebebeb;
      padding: 15px;
      color: #a38664;
      background: #f8f6f2;
    }

    &--details {
      display: flex;
      flex-direction: column;
      gap: 5px;

      &__block {
        background-color: #f8f9fa ;
        border: 1px solid #eef4fb ;
        border-radius: 8px;
        color: #555555;
        padding: 10px;
        display: flex;
        flex-direction: column;

        span {
          @include meduimfont;
          color: #000;
        }
      }
    }
  }

  &--attachedfiles {
    @extend .violitionDetails--right;
    margin-top: 25px;

    &--details {
      @extend .violitionDetails--right--details;

      &__block {
        @extend .violitionDetails--right--details__block;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .attachedName {
          @include meduimfont;
          color: #000;
        }

        .atttach-mumber {
          @include x-smallfont;
          margin-left: 5px;
          border: 1px dashed #dcdfe6;
          box-shadow: rgb(239, 241, 249) 0px 2px 4px 0px;
          display: flex;
          border-radius: 50%;
          min-width: 15px;
          min-height: 15px;
          padding: 5px;
          color: white;
          text-align: center;
          line-height: 1.3;
          box-sizing: content-box;
          white-space: nowrap;
          align-items: center;
          justify-content: center;

          &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            padding-top: 100%;
            height: 0;
          }

          span {
            display: inline-block;
            vertical-align: middle;
          }
        }

        img {
          height: 20px;
        }
      }
    }

    a {
      text-decoration: none;
    }
  }

  &--left {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &--repetition {
      @extend .violitionDetails--right;
    }

    &--violators {
      @extend .violitionDetails--right;

      .createViolitionContainer--creatviolition--person {
        margin: 0;
        padding: 0;

        .block {
          padding: 10px;

          span {
            white-space: nowrap;
          }
        }

        .user__image {
          padding: 0;

          img {
            width: 50px;
            height: 50px;
          }
        }
      }

      .details {
        box-shadow: none;
        border: 1px solid #eaeef5;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 5px;
      }

      &__votedecision {
        textarea {
          box-shadow: rgb(239, 241, 249) 0px 2px 4px 0px;
          height: 150px;
          border: 1px solid #f1f1f1;
        }
      }

      &__action {
        display: flex;
        gap: 10px;
      }
    }
  }
}
